.form-group-label-override {
  font-size: 14px;
  font-weight: 400;
}

.access-level-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: -4px;
  margin-right: 12px;
  top: -6px;
  position: relative;
}

.form-offline-left {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

.form-offline-right {
  font-size: 14px;
  font-weight: 500;
  margin-right: 14px;
}

.publish-warn {
  font-size: 20px;
  color: #ab1a0b
}
