<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'" #modal>
  <h3 class="modal-title">{{title}}
    <wayne-modal-operate [modal]="modal" *ngIf="modalOpened"></wayne-modal-operate>
  </h3>
  <div class="modal-body">
    <form #ngForm="ngForm" clrForm clrLayout="horizontal">
      <section class="form-block">
        <clr-input-container>
          <label class="required">{{'TITLE.NAME' | translate}}</label>
          <input type="text" clrInput id="name" [(ngModel)]="pipeline.name" name="name" size="24" required [readonly]="actionType==1"
                 maxlength="24" (keyup)='handleValidation()'>
          <clr-control-helper>
              <span style="color: red;" *ngIf="!isNameValid">
                {{'ERROR.TEKTON_NAME' | translate}}
              </span>
          </clr-control-helper>
          <clr-control-error>{{'ERROR.TEKTON_NAME' | translate}}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="required">流水线构建地址: </label>
          <input type="text" clrInput id="url" [(ngModel)]="pipeline.buildUri" name="url" required
                 maxlength="128">
        </clr-input-container>
        <clr-input-container>
          <label class="required">流水线日志查看地址: </label>
          <input type="text" clrInput id="project" [(ngModel)]="pipeline.logUri" name="project" required
                 maxlength="128">
        </clr-input-container>
        <clr-select-container>
          <label>流水线状态</label>
          <select clrSelect id="concurrencyPolicy" name="status" [(ngModel)]="pipeline.status">
            <option [ngValue]="0" selected>在线</option>
            <option [ngValue]="1">维护中</option>
          </select>
        </clr-select-container>
        <clr-textarea-container>
          <label>{{'TITLE.DESCRIPTION' | translate}}</label>
          <textarea id="description" clrTextarea [(ngModel)]="pipeline.description" name="description" rows="3">
                    </textarea>
        </clr-textarea-container>
      </section>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-primary" [disabled]="!isValid"
              (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
    </div>
  </div>

</clr-modal>
