<clr-modal [clrModalSize]="''" [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <form #publishForm="ngForm" clrForm clrLayout="horizontal">
      <div class="alert alert-warning" *ngIf="actionType==0">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
             按照规范：请再次确认后发布生效
          </span>
          </div>
        </div>
      </div>
      <section class="form-block">
        <div class="clr-form-control clr-row">
          <label class="clr-control-label required">
            {{'TITLE.CLUSTER' | translate}}
          </label>
          <div class="clr-control-container">
            <div *ngFor="let cluster of clusters;let i=index">
              <div class="clr-input-wrapper">
                <label class="clr-checkbox-wrapper">
                  <input  class="clr-checkbox" [(ngModel)]="clusterMetas[cluster].checked" type="checkbox" id="{{i}}-check" name="{{i}}-check">
                  <label for="{{i}}-check">{{cluster}}</label>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="clr-form-control clr-row"  *ngIf="actionType==3">
          <label class="clr-control-label">
            {{'ACTION.FORCE_DROP' | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{'MESSAGE.FORCE_DROP' | translate}} </span>
            </a>
          </label>
          <div class="clr-control-container">
            <div class="clr-toggle-wrapper">
              <input class="clr-toggle" [(ngModel)]="forceOffline" type="checkbox" id="force-offline-id" name="force-offline">
              <label for="force-offline-id"></label>
            </div>
          </div>
        </div>
      </section>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-primary" [disabled]="!isValid"
              (click)="onSubmit()">{{'BUTTON.CONFIRM' | translate}}</button>
    </div>
  </div>

</clr-modal>
